In [1]:
import pandas as pd
import psycopg2
from config_postgresql import database, user, password, port, host

In [2]:
connection = psycopg2.connect(database=database, user = user, password=password, port=port, host=host)
connection.autocommit = True

In [3]:
def sql(request):
    cursor = connection.cursor()
    cursor.execute(request)
    result = cursor.fetchall()
    columns = []
    for desc in cursor.description:
        columns.append(desc[0])
    
    return pd.DataFrame(result, columns=columns)

In [4]:
sql('''select * from student''')

     student_id student_name
0             1    student_1
1             2    student_2
2             3    student_3
3             4    student_4
4             5    student_5
..          ...          ...
123         124   student_60
124         125   student_61
125         126   student_62
126         127   student_63
127         128   student_64

[128 rows x 2 columns]